{{#section 'css'}}
<link rel="stylesheet" href="/css/admin_css/admin_home.css">
{{/section}}

{{#section 'title'}}Admin - Home{{/section}}

{{#section 'javascript'}}
<script src="/js/admin_js/chart.min.js"></script>
<script src="/js/admin_js/admin_home.js"></script>
{{/section}}

<div>
    <div id="wrapper" style='display: flex;'>
        {{>admin_nav}}
        <div class="content-page" style="width:83%">
            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <div class="page-title-box">
                                <div class="page-title-right">
                                    <ol class="breadcrumb m-0">
                                        <li class="breadcrumb-item"><a href="/admin">Home</a></li>
                                        <li class="breadcrumb-item active">Dashboard</li>
                                    </ol>
                                </div>
                                <h4 class="page-title">Dashboard</h4>
                            </div>
                        </div>
                    </div>

{{!-- test --}}
                    <div class="row">
                        <div class="col-md-6 col-xl-3">
                            <div class="card-box tilebox-one">
                                <i class="fas fa-calendar-check float-right m-0 h2 text-muted"></i>
                                <h6 class="text-muted text-uppercase mt-0">Data crawl</h6>
                                <h3 class="my-3" data-plugin="counterup">+10000000 Profile</h3>
                                <span class="badge bg-success mr-1"> +{{pt_crawling}}% </span> <span
                                    className="text-muted">From
                                    Today</span>
                            </div>
                        </div>
                        <div class="col-md-6 col-xl-3">
                            <div class="card-box tilebox-one">
                                <i class="fas fa-money-check float-right m-0 h2 text-muted"></i>
                                <h6 class="text-muted text-uppercase mt-0">Data tranning</h6>
                                <h3 class="my-3" data-plugin="counterup">+{{total_profile_tranning_day}} Profile</h3>
                                <span class="badge bg-primary mr-1"> +{{pt_tranning}}% </span> <span
                                    className="text-muted">From
                                    Today</span>
                            </div>
                        </div>
                        <div class="col-md-6 col-xl-3">
                            <div class="card-box tilebox-one">
                                <i class="fas fa-calendar-times float-right m-0 h2 text-muted"></i>
                                <h6 class="text-muted text-uppercase mt-0">Errors</h6>
                                <h3 class="my-3"><span data-plugin="counterup">+{{not_handled_day}}</span></h3>
                                <span class="badge bg-danger mr-1"> +{{pt_not_handled}}% </span> <span
                                    className="text-muted">From
                                    Today</span>
                            </div>
                        </div>
                        <div class="col-md-6 col-xl-3">
                            <div class="card-box tilebox-one">
                                <i class="fa fa-user float-right m-0 h2 text-mute"></i>
                                <h6 class="text-muted text-uppercase mt-0">Follower</h6>
                                <h3 class="my-3" data-plugin="counterup">+{{user_day}}</h3>
                                <span class="badge bg-warning mr-1"> +{{pt_userday}}% </span> <span
                                    className="text-muted">Last
                                    Today</span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-6 col-xl-8">
                            <div class="card-box">
                                <h4 class="header-title mb-3">Users Behavior</h4>
                                <div class="text-center">
                                    <ul class="list-inline chart-detail-list mb-0">
                                        <li class="list-inline-item">
                                            <h6 class="text-info"><i class="mdi mdi-circle-outline mr-1"></i>Series
                                                A
                                            </h6>
                                        </li>
                                        <li class="list-inline-item">
                                            <iSeries class="text-success"><i
                                                    class="mdi mdi-triangle-outline mr-1"></i>Series B</h6>
                                        </li>
                                        <li class="list-inline-item">
                                            <h6 class="text-muted"><i class="mdi mdi-square-outline mr-1"></i>Series
                                                C
                                            </h6>
                                        </li>
                                    </ul>
                                </div>
                                <div style=' height: 349px;display: flex;justify-content: center;'>
                                    <canvas id="income" width="740" height="368"></canvas>

                                </div>

                            </div>
                        </div>
                        <div class="col-lg-6 col-xl-4">
                            <div class="card-box">
                                <h4 class="header-title mb-3">Trends Monthly</h4>
                                <div style='height: 349px;display: flex;justify-content: center;'>
                                    <canvas id="countries" width="334" height="335"></canvas>
                                </div>
                                <div class="khoi_gt">
                                   <div> <span class="khoi_mau colo_crawling  badge  mr-1"> </span>Crawling </div>
                                   <div> <span class="khoi_mau colo_not_crawling badge  mr-1"> </span>Not Crawling </div>
                                   <div> <span class="khoi_mau colo_tranning badge  mr-1"> </span>Tranning </div>
                                </div>
                            </div>
                        </div>
                    </div>



                </div>
            </div>

        </div>

    </div>

</div>